APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# --- CONFIGURACIÓN DE BASE DE DATOS ---
# Si usas MySQL en el puerto 3307 como en tu PC de Bogotá:
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=ventas
DB_USERNAME=root
DB_PASSWORD=

# --- CONFIGURACIÓN DE REDIS (RAM) ---
REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# --- DRIVERS ACTIVOS ---
CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

# --- OTROS ---
LOG_CHANNEL=stack
FILESYSTEM_DISK=local
BCRYPT_ROUNDS=12